*.iml
*.class
.classpath
.project
.svn
.settings
.DS_Store
server.xml
tomcat-users.xml
catalina.policy
catalina.properties
context.xml
logging.properties
me.jpg
Catalina/localhost
*~
WebContent/WEB-INF/classes/
*.log
compile_lib/
.idea/
out/
build/
dist/
/bin/
target/
